<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
    <div 
        *ngFor = "let chat of _chatService.chats" 
        [ngClass]="{'text-right' : _chatService.user.uid == chat.uid}">
        <span 
            class="badge"
            [ngClass]="{'badge-info' : _chatService.user.uid == chat.uid,
                        'badge-success' : _chatService.user.uid != chat.uid}"
        >{{chat.name}}</span>
        <p>{{chat.message}}</p>
    </div>
</div>

<input 
    type = "text"
    class = "form-control"
    name = "message"
    [(ngModel)] = "message"
    (keyup.enter) = "sendMessage()"
    placeholder = "Enviar mensaje">