<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="myForm" (ngSubmit)="saveChanges()" novalidate="novalidate">

    <div formGroupName="fullName">
        <div class="form-group row" [ngClass]="{ 'has-danger' : !myForm.controls['fullName'].controls['name'].valid}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="name">

                <div *ngIf="myForm.get('fullName.name').errors?.required" class="form-control-feedback">
                    El nombre es necesario
                </div>
                <div *ngIf="myForm.get('fullName.name').errors?.minlength" class="form-control-feedback">
                    Minimo 3 caracteres
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="lastName">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="email">
        </div>
    </div>

    <div class="form-group row">
            <label class="col-2 col-form-label">Nombre de usuario</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Nombre de usuario" formControlName="username">
            </div>
        </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col-md-8">
            <input class="form-control" type="password" placeholder="Contraseña" formControlName="password1">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Repetir contraseña</label>
        <div class="col-md-8">
            <input class="form-control" type="password" placeholder="Repetir contraseña" formControlName="password2">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pasatiempos</label>
        <div class="col-md-8" formArrayName="hobbies">
            <input *ngFor="let hobby of myForm.controls['hobbies'].controls; let i = index" [formControlName]="i"
                type="text" class="form-control">
        </div>
        <button (click)="addHobbie()" type="button" class="btn btn-primary">
            Añadir
        </button>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
                Guardar
            </button>
        </div>
    </div>

    {{ myForm.valid }}
    <br>
    {{ myForm.status }}

</form>