<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="save(myForm)" #myForm="ngForm" novalidate="">

    <div>

        <div class="form-group row"
            [ngClass]="{'has-danger': (name.errors?.minlength || name.errors?.required) && name.touched}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" name="name" [(ngModel)]="user.name"
                    required minlength="3" #name="ngModel">

                <div *ngIf="name.errors?.required">
                    Este campo es requerido.
                </div>

                <div *ngIf="name.errors?.minlength">
                    Por lo menos {{ name.errors.minlength.requiredLength }} caracteres.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" name="lastName"
                    [(ngModel)]="user.lastName" required #lastName="ngModel">

                <div *ngIf="lastName.errors?.required">
                    Este campo es requerido.
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" name="email"
                [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+(\.[a-z]{2,3})+$" #email="ngModel">

            <div *ngIf="email.errors?.required">
                Este campo es requerido.
            </div>

            <div *ngIf="email.errors?.pattern">
                Debe escribir un correo electrónico válido.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-md-8">
            <select [(ngModel)]="user.country" class="form-control" name="country">
                <option value="">Seleccione un pais</option>
                <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8">
            <label *ngFor="let g of genders" class="custom-control custom-radio">
                <input 
                    [(ngModel)] = "user.sex"
                    name = "sex"
                    [value] = "g"
                    type="radio" 
                    class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{g}}</span>
            </label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-8">
            <label class="custom-control custom-checkbox">
                <input 
                    [(ngModel)] = "user.accept"
                    name = "accept"
                    type="checkbox" 
                    class="custom-control-input"
                    required>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Aceptar términos y condiciones</span>
            </label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="!myForm.valid">
                Guardar
            </button>
        </div>
    </div>

    <pre>{{user | json}}</pre>

</form>